body {
  background: #92e4ea;
}
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
}
.main {
  display: flex;
}
.radius-border {
  border-radius: 1em;
  font-weight: bold;
}
