body {
  background: #92e4ea;
}
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
}
.main {
  display: flex;
}
.radius-border {
  border-radius: 1em;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(177, 96, 96);
  width: 150px;
  height: 150px;
}
.app-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 150px;
  background-color: rgb(62, 171, 165);
  font-size: 30px;
  margin-left: 50px;
}
.recalculate {
  background-color: brown;
  margin-top: 30px;
  width: 650px;
  height: 100px;
  font-size: 20px;
}
.amount {
  width: 100px;
  height: 50px;
}
.currencies {
  width: 80px;
  height: 50px;
}
.convert-bnt {
  width: 100px;
  height: 50px;
}
.recalculate {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.converted {
  width: 100px;
  height: 50px;
  background-color: white;
}
